<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
	</style>
</head>
<body>
<div class="container">
    <div>
        <p>
            <strong>Room Name</strong>: <%= myroom.roomname %><br>
            <strong>Discription</strong>: <%= myroom.disc %><br>
            <strong>Created On</strong>: <%= myroom.created %><br>
            <strong>Admin of Room</strong>: <%= myroom.admin.local.username %><br>
            <strong>Admin Email</strong>: <%= myroom.admin.local.email %>
        </p>
    </div>
	<center>
        <img src="data:img/<%=img.contentType%>;base64,
        <%=img.toString('base64')%>" width="250" height="300" onContextMenu="return false;">

    <p>Or go <a href="/">home</a>.</p>
    </center>
</div>
</body>
</html>